.heading {
  text-align: center;
}

.body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 96.9vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
    .body {
      background-size: cover;  
      background-position: center ;  
    }
  }

  
