
.container {
    border: 2px solid black;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: #1b2432;
    color: white;
    margin: auto;
  }
  
  .timingsContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  
  .busNumber {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrivalTime{
    color : green;
    font-weight: bold;
  
  }
  
  .departureTime{
    color : red;
    font-weight: bold;
  
  }


.mapButton {
  background-color: #403F4C; 
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.mapModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mapContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 80%;
}

.closeButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

