.content {
    text-align: center;
  }
  
  .link button {
    padding: 1rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .link button:hover {
    background-color: #0056b3;
  }
  
  .link {
    text-decoration: none;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  